---
export const prerender = false;

import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Table/Header.astro";
import Toolbar from "@/components/Table/Toolbar.astro";
import BackLight from "@/components/BackLight.astro";
import Table from "@/components/Table/Table.astro";
import { isInputError } from "astro:actions";
import { getSubjectTitle } from "@/utils/getPageMetadata";

const { subject, course, period } = Astro.params;

if (!subject || !period) {
  return Astro.redirect("/404");
}

const title = getSubjectTitle(subject);

if (!title) {
  return Astro.redirect("/404");
}

const { data, error } = await Astro.callAction(actions.subject.create, {
  name: subject,
  course: parseInt(course!),
  period: parseInt(period),
});

if (isInputError(error) || !data) {
  return Astro.redirect("/404");
}
---

<Layout transition:animate="none">
  <div
    class="overflow-x-auto max-w-full lg:px-6 py-6 bg-gray-100/70 rounded-xl backdrop-blur-2xl"
  >
    <div class="px-6">
      <Header subject={title} course={data.course} period={data.period} />
      <Toolbar course={data.course} subjectId={data.id} />
    </div>

    <Table subjectId={data.id} course={data.course} />
  </div>
  <BackLight position="bottom" />
</Layout>
